<!doctype html>
<html dir="ltr" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <!-- Bootstrap CSS -->

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!--Style CSS-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script th:src="@{/js/nav.js}"></script>
    <title>Vacation Manager</title>
</head>

<body>
<!---------NAVBAR----------->
<div id="nav-placeholder">

</div>
<!---------NAVBAR----------->

<div id="popup" style="z-index: 1;">
    <h1 class="display-2 d-flex justify-content-center welcome">Welcome</h1>
    <h1 class="display-4 d-flex justify-content-center welcome">to</h1>
    <h1 class="display-3 d-flex justify-content-center welcome">Vacation Manager</h1>
    <div class="d-grid gap-2 col-1 mx-auto py-3">
        <button class="btn btn-primary " data-bs-target="#login" data-bs-toggle="modal" type="button">
            login
        </button>
    </div>

</div>



<!-- Modal -->
<div aria-hidden="true" aria-labelledby="loginLabel" class="modal fade" id="login" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content divModal">
            <div class="headerModal">
                <!--  LOGIN FORM  -->
                <form id="loginForm" method="post" th:action="@{/login}" th:object="${user}">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="loginLabel">Login</h1>

                        <kbd class="esc" data-bs-dismiss="modal">esc</kbd>

                    </div>
                    <div class="modal-body">

                        <div class="input-group mb-2 ">
                            <span class="input-group-text" id="basic-addon1">@</span>
                            <input aria-describedby="basic-addon1"  class="form-control"
                                   placeholder="Username"
                                   th:field="*{username}" type="text" required>
                        </div>
                        <div class="input-group mb-2 ">

                            <span class="input-group-text"> &#128274;</span>
                            <input autocomplete="password" class="form-control" placeholder="Password"
                                   th:field="*{password}"
                                   type="password" required>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" id="submit" type="submit">Login</button>
                    </div>
                </form>

                <!--  LOGIN FORM  -->
            </div>
        </div>
    </div>
</div>

<div aria-hidden="true" aria-labelledby="registerLabel" class="modal fade" id="register" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content divModal">
            <div class="headerModal">

                    <!--  REGISTER FORM  -->
                    <form action="#" id="registerForm" method="post" th:action="@{/postRegister}" th:object="${user}">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="registerLabel">Register</h1>

                            <kbd class="esc" data-bs-dismiss="modal">esc</kbd>

                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-2 ">
                                <span class="input-group-text">@</span>
                                <input aria-describedby="basic-addon1"  class="form-control"
                                       placeholder="Username"
                                       th:field="*{username}" type="text" required>

                            </div>
                            <div class="input-group mb-2 ">

                                <span class="input-group-text"> &#128274;</span>
                                <input autocomplete="password" class="form-control" placeholder="Password"
                                       th:field="*{password}" type="password" required>

                            </div>
                            <div class="input-group mb-2 ">

                                <span class="input-group-text"> &#128188;</span>
                                <input  class="form-control" placeholder="Company Name"
                                        th:field="*{companyName}" type="text" required>

                            </div>
                            <div class=" row g-2 ">
                                <span class="col-auto">
                                <input  th:field="*{firstName}" type="text" class="form-control daMuMaikata" placeholder="First Name" aria-label="FirstName" required>

                                </span>

                                <span class="col-auto ">
                                <input  th:field="*{lastName}" type="text" class="form-control daMuMaikata" placeholder="Last Name" aria-label="LastName" required>

                                </span>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-danger" data-bs-dismiss="modal" type="button">Close</button>
                            <button class="btn btn-primary" type="submit">Register</button>
                        </div>
                    </form>
                    <!--  REGISTER FORM  -->
            </div>
        </div>
    </div>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>
</html>