<!doctype html>
<html lang="en" dir="ltr"  xmlns:th="http://www.thymeleaf.org" >

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!--Style CSS-->
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>Vacation Manager</title>
    <style>
        table, th, td {
            border: 1px solid black;
        }
    </style>
</head>

<body >
    <!---------NAVBAR----------->
    <nav  class="navbar navbar-expand-lg navbar-dark bg-dark " style="z-index: 98">
        <div class="container-fluid ">

            <button  class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span  class="navbar-toggler-icon"></span>
            </button>
            <div  class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
                <ul class=" navbar-nav ">
                    <li class="nav-item">
                        <a style="cursor: pointer;" class="nav-link active  mx-3" aria-current="page" href="index">Home</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
    <!---------NAVBAR----------->



    <div th:if="${user.role.roleName=='CEO'}" style="color:wheat"> CEO</div>
    <div th:if="${user.role.roleName=='Team Lead'}" style="color:wheat"> team lead</div>
    <div th:if="${user.role.roleName=='Developer'}" style="color:wheat"> developer</div>

    <table style="background-color: aliceblue">
<tr>
    <th><span  > firstName </span></th>
    <th><span  > lastName </span></th>
    <th><span  > companyName </span></th>
</tr>
    <div></div>
    <tr th:each="user : ${list}" >
        <td><span th:text="${user.firstName}" > firstName </span></td>
        <td><span th:text="${user.lastName}" > lastName </span></td>
        <td><span th:text="${user.companyName}" > companyName </span></td>
        <td><div> </div></td>
    </tr>
    </table>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>